*{
    font-family: 'Kanit', sans-serif;
}

body{
    margin: 0;
}
nav{
    background: rgb(11, 11, 32);
    height: 4vw;
}
nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    margin-right: 5%;
    font-size: 1.5vw;
}
nav ul li{
    padding: .8vw;
    color: aquamarine;
    margin-right: 5%;
}
nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 5%;
}
nav ul li a:hover{
    color: rgb(79, 153, 128);
}
.current_link{
    text-decoration: line-through;
}
section{
    padding-left: 20%;
}
section.front-landing{
    background: url('../imgs/background1.png'); 
    padding-bottom: 10vw;
}
.name-landing{
    font-size: 4vw;
    padding-top: 2vw;
}
.name-landing h1{
    margin: 0;
    color: white;
    line-height: 6.5vw;
}
.name-landing h2{
    margin: 0;
    color: white;
}
h1.typed-out{
    display: inline-block;
}
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 5s forwards;
}
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
.name-landing p{
    margin: 0;
    color: white;
    font-size: 1.2vw;
}
.name-landing .tag-line{
    display: flex;
}
.front-landing button{
    background: none;
    border: 1px solid aquamarine;
    padding: 1vw;
    background: black;
    border-radius: 5%;
    line-height: .5vw;
}
.front-landing button a{
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
    padding: 2vw;
}
section.skills-info{
    background: rgb(33, 33, 48)
}
.skills-info .content{
    padding-top: 5vw;
    display: flex;
    padding-bottom: 10vw;
}
.skills{
    width: 20%;
}
.skill-cube{
    height: 4vw;
    margin-bottom: 2vw;
    display: flex;
}
.skill-cube p{
   font-size: 1.2vw;
   color: white;
}
.skill-cube .logo{
    width: 5%;
    margin: .5vw;
    padding: 1vw;
    border-radius: 10%;
    color: white;
    border: 2px solid white;
}
.logo svg{
    height: 1.5vw;
    width: .8vw;
    margin: 0;
}
.what-can-i-do{
    margin-left: 5%;
}
.what-can-i-do h1{
    color: white;
    font-size: 2.8vw;
    margin: 0;
}
.what-can-i-do p{
    color: rgb(175, 175, 175);
    font-size: 1.2vw;
    margin: 0;
    width: 50%;
}
.what-can-i-do h2{
    margin: 0;
    font-size: 2.5vw;
    color: rgb(109, 39, 175);
    line-height: 2.5vw;
}
.what-can-i-do h3{
    margin: 0;
    font-size: 1.5vw;
    color: rgb(109, 39, 175);
}
.extra-info{
    display: flex;
}
.extra-info h2{
    margin-top: 1.5vw;
}
.extra-info-blocks p{
    color: white;
    font-size: 1.2vw;
    width: 10%;
}
.what-can-i-do-p-spacing{
    padding-top: 2.2vw;
}
section.about{
    background: url('../imgs/about.jpg');
    z-index: -1;
    display: flex;
    padding-bottom: 8vw;
}
section.about p{
    margin: 0;
    color: white;
    font-size: 1.2vw;
}
section.about .left{
    width: 30%;
    padding-top: 20vw;
}
section.about .left h1{
    font-size: 2.5vw;
    margin: 0;
    color: white;
}
section.about button.about-me{
    margin-left: 2vw;
    margin-top: 2vw;
    color: white;
    padding: 1vw;
    border-radius: 5%;
    background: white;
    color: black;
    font-size: 1vw;
    width: 20vw;
}
.right .picture{
    margin-left: 5vw;
    margin-top: 5vw;
    position: relative;
}
.right .picture .border{
    border: 2px solid white;
    width: 35vw;
    height: 32vw;
    z-index: 2;
    position: absolute;
}
.right .picture img{
    width: 35vw;
    height: 32vw;
    margin-left: 1.5vw;
    margin-top: 1.5vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
section.projects{
    background: rgb(33, 33, 48);
    padding-bottom: 10vw;
    padding-left: 0;
    text-align: center;
    color: white;
}
section.projects h1{
    margin: 0;
    font-size: 3.5vw;
    padding-top: 5vw;
    font-weight: bold;
}
section.projects p{
    font-size: 1.7vw;
    margin: 0;
    margin-bottom: 5vw;
}
.project-box img{
    border: 4px solid white;
    width: 55vw;
}
